{% if collection.image and collectionImage %}
  <div class="collection-header">
    {%
      render 'rimg',
      img: collection.image,
      size: '1024x1024',
      lazy: true
    %}

    <div class="collection-details">
      <h1>{{ collection.title }}</h1>
    </div>
  </div>
{% else %}
  <h1 class="page-title">{{ collection.title }}</h1>
{% endif %}
