<div class="product-banner">
    <div class="content">
        <h4>{{ settings.banner_shipping_title }}</h4>
        <span>{{ settings.banner_shipping_criteria }}</span>
    </div>

    <div class="divider">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23"><defs><style>.a{fill:none;stroke:#3d3838;stroke-width:0.5px;}</style></defs><g transform="translate(-0.509 -0.303)"><line class="a" y1="23" transform="translate(11.509 0.303)"></line><line class="a" y1="23" transform="translate(23.509 12.303) rotate(90)"></line></g></svg>
    </div>

    <div class="content center">
        <h4>{{ settings.banner_dispatch_title }}</h4>
    </div>
</div>