<div class="product-banner">
    <div class="content">
        <h4>{{ settings.banner_shipping_title }}</h4>
        <span>{{ settings.banner_shipping_criteria }}</span>
    </div>

    <div class="divider">
        {% include 'icon' with 'custom-plus' %}
    </div>

    <div class="content center">
        <h4>{{ settings.banner_dispatch_title }}</h4>
    </div>
</div>